h1 {
    text-align: center;
    padding-top: 15%;
    font-size: 100px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}

p {
    text-align: center;
    font-size: 70px;
    font-family: 'Nunito', sans-serif;
}

* {
    color: white;
}